<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/app.css">

    <title>Dog Trainer</title>
</head>

<body>
<h1>PET PROFILES</h1>

<p>
 My name is <%=pets.name%>.<br>
I am <%=pets.age%>.<br>
I can <%=pets.tricks%>.<br>
</p>

<form action="/pets/<%=pets.id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE <%= pets.name %>" />
  </form>
    
</body>
</html>